/* Main container holding the background image */
.App {
  min-height: 100vh;
  background: url("../../images/heroPhoto.jpg") center/cover no-repeat;
}

/* Container holding employee profile */
.employee-profile {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 45%;
  height: 53rem;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #e0e0e0; /* Lighter border color */
  background: #ffffff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header section with employee name */
.employee-profile-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f8f8f8; /* Lighter gray background */
}

.employee-profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-name {
  font-size: 28px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Employee profile content section */
.employee-profile-contents {
  width: 100%;
  padding: 15px;
}

/* Styles for open job listings */
.open-jobs-body {
  width: 100%;
  padding: 10px;
}

.open-jobs-body h4,
.employee-profile-about-us h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}

.open-jobs {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.open-jobs li {
  width: calc(33.33% - 10px);
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #e0e0e0; /* Lighter border color */
  background-color: #ffffff; /* White background */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.open-jobs li:hover {
  transform: scale(1.03);
  background-color: #dceef3; /* Slightly bluish hover color */
}

/* Employee about us section */
.employee-profile-about-us {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.employee-profile-about-us h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}

.employee-profile-about-us p {
  padding: 0 20px;
}
