/* JobsPage.css */

.jobs-page {
    padding: 20px;
    background-image: url('../../images/jobPageBackground.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .jobs-header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* Text color to stand out against the background */
  }
  
  .jobs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .job-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #fff; /* White background for better contrast */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .company-logo {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .job-details {
    margin-top: 20px;
  }

  
  
  /* Add media query for responsiveness */
  @media (max-width: 768px) {
    .job-card {
      width: 100%; /* Make job cards full-width on smaller screens */
    }
  }
  