/* Footer.css */
.footer {
  background-color: #d2d1d1;
  color: #333;
  padding: 10px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company-info {
  margin-bottom: 10px;
}

.about-link a {
  color: #333;
  text-decoration: none;
}

.about-link a:hover {
  text-decoration: underline;
}
